@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            table th {
                background-color: #F7F7F7;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* This ensures the container takes the full height of the viewport */
        }
    </style>
</head>
<body>
    <div class="center">
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th align="center"><u>Live Camera</u></th>
                <th align="center"><u>Captured Picture</u></th>
            </tr>
            <tr>
                <td><div id="webcam"></div></td>
                <td><img id="imgCapture" /></td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" id="btnCapture" value="Capture" />
                    <input type="button" id="btnSwitchCam" value="Switch" />

                </td>
                <td align="center">
                    <input type="button" id="btnUpload" value="Upload" disabled="disabled" />
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/js/webcam/webcam.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var isFrontCam = true; // Variable to track the current camera
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 100,
                constraints: {
                    facingMode: isFrontCam ? 'user' : 'environment'
                }
            });
            // preload shutter audio clip
            // var shutter = new Audio();
            // shutter.autoplay = false;
            // shutter.src = navigator.userAgent.match(/Firefox/) ? '/sounds/shutter.ogg' : '/sounds/shutter.mp3';

            //Webcam.attach('#webcam');
            Webcam.attach('#webcam', function (err, stream) {
                if (err) {
                    console.error("Error initializing webcam:", err);
                } else {
                    console.log("Webcam successfully initialized");
                }
            });

            $("#btnCapture").click(function () {
                $('#btnCapture').val('Wait...').attr('disabled', true)
                //Uncomment to play stutter sound.
                //shutter.play();
                Webcam.snap(function (data_uri) {
                    $("#imgCapture")[0].src = data_uri;
                    $("#btnUpload").removeAttr("disabled");
                    $("#btnCapture").val('Capture').removeAttr("disabled");

                });

            });

            $("#btnSwitchCam").click(function () {
                isFrontCam = !isFrontCam; // Toggle the camera variable

                Webcam.reset(); // Reset the webcam

                Webcam.set({
                    width: 320,
                    height: 240,
                    image_format: 'jpeg',
                    jpeg_quality: 100,
                    constraints: {
                        facingMode: isFrontCam ? 'user' : 'environment'
                    }
                });

                Webcam.attach('#webcam');
            });

            $("#btnUpload").click(function () {
                var imageData = $("#imgCapture")[0].src;
                $.ajax({
                    type: "POST",
                    url: "/Home/UploadImage",
                    data: JSON.stringify({ Base64Data: imageData }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        alert(r.message);
                    }
                });
            });
        });
    </script>
</body>
</html>
