@model List<ImagesData>
@using System.IO;
@using WebCam.App.Controllers

@{
    ViewData["Title"] = "Documents";
}
<div>
    <h5>List of Captured images:</h5>
    <ul>
        @foreach (var imagePath in Model)
        {
            <li>
                <a href="@Url.Content(imagePath.Path)" target="_blank">@imagePath.Name</a>
            </li>

        }
    </ul>
</div> 